img {
    width: 3vw;
}

#shopp {
    margin-left: 10vw;
}

.delete {
    background-color: red;
    color: white;
}

.buy,
.delete {
    border-radius: 20%;
    ;
}

.buy {
    background-color: rgb(1, 151, 58);
    color: white;
    padding: 2vh;
}

.captionText {
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-weight: bold
}

#shopping-icon {
    width: 15vw;
    margin-left: 5vw;
}